<!DOCTYPE html>
<html>
    <body style="background-color:powderblue;">
<head>
    <title>Venta_Alquiler_Ubicaciones</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.css" />
</head>

<body id="cuerpo">
          
    </div>
    <div align="center">
        <h1 align="center">UBICACIÓN DE LOS INMUEBLES</h1>
        <div id="map" style="width: 680px; height: 550px" ></div>

    </div>
    
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js"></script>
    
    <script>
        var datos = JSON.parse('{{ datos| tojson | safe}}');
        // datos es un json 
        var plano = new Array();
        var index = 0; //para recorrer la lista
        var lista_aux = new Array();
       
        for (index = 0; index < datos.length; index++) {
            lista_aux = ["<h3>"+datos[index].descripcion +"</h3>"+ "URL: "+ datos[index].url+"<h4>"+ "Precio: "+ 
            datos[index].precio+"</h4>",
             datos[index].ubicacion.latitud, datos[index].ubicacion.longitud];                   
            plano.push(lista_aux);// agregamos al array
        }
        console.log(plano);
 
 
        var map = L.map('map').setView([-25.3058, -57.82082], 10);
        mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; ' + mapLink + ' Contributors',
                maxZoom: 18,
            }).addTo(map);
 
        for (var i = 0; i < plano.length; i++) {
            marker = new L.marker([plano[i][1], plano[i][2]])
                .bindPopup(plano[i][0])
                .addTo(map);
       
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    
</body>
 
</html>
